<div>
  <%= flash[:notice] %>
</div>

<div class='container px-5 px-sm-0'>
	<div class='row'>
	  <div class='col-md-3'>
     <%= render 'book', user: @book.user, book: Book.new %>
    </div>
    <div class='col-md-8 offset-md-1 mt-4'>
     <h2>Book detail</h2>

      <table class="table">
       <tr>
        <td>
           <%= image_tag @book.user.get_profile_image(100,100) %>
           <%= link_to user_path(@book.user.id) do %><br>
            <P><%= @book.user.name %></p>
           <% end %>
        </td>

        <td>
           <p><%= link_to @book.title, book_path %></p>
        </td>
        <td>
           <p><%= @book.body %></p>
        </td>
        <td>
           <% if @book.user == current_user %>
            <%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-sm btn-success" %>
         </td>
         <td>
             <%= link_to "Destroy", book_path(@book.id), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に消しますか？"  %>
           <% end %>
         </td>
        </tr>
       </table>

	</div>
</div>
</div>
